<a href="https://colab.research.google.com/github/aletna/IL181_practical-data-science/blob/master/Session3_pcw_data_pre_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# mount google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# load data from google drive
import pandas as pd
data = pd.read_csv('/content/drive/My Drive/Minerva Study Material/Practical Data Science/Session 3/AB_NYC_2019.csv')

In [18]:
print(data.shape)
data.head()

(38821, 16)

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3831  ...              194
3  5022  ...                0
4  5099  ...              129

[5 rows x 16 columns]

In [6]:
data.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [13]:
data.dropna(inplace = True)
data.reset_index(drop = True, inplace = True)
print(data.shape)
data.isnull().sum()

(38821, 16)

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [21]:
dummy = pd.get_dummies(data["neighbourhood_group"])
ndata = pd.concat([data, dummy], axis = 1)
ndata.head()

     id  ... Staten Island
0  2539  ...             0
1  2595  ...             0
2  3831  ...             0
3  5022  ...             0
4  5099  ...             0

[5 rows x 21 columns]

In [25]:
import numpy as np
X = np.asarray(ndata[['latitude', 'longitude','price','minimum_nights','number_of_reviews','reviews_per_month','calculated_host_listings_count','availability_365','Brooklyn','Bronx','Manhattan','Queens','Staten Island']])
X

array([[ 40.64749, -73.97237, 149.     , ...,   0.     ,   0.     ,
          0.     ],
       [ 40.75362, -73.98377, 225.     , ...,   1.     ,   0.     ,
          0.     ],
       [ 40.68514, -73.95976,  89.     , ...,   0.     ,   0.     ,
          0.     ],
       ...,
       [ 40.54179, -74.14275, 235.     , ...,   0.     ,   0.     ,
          1.     ],
       [ 40.80787, -73.924  , 100.     , ...,   0.     ,   0.     ,
          0.     ],
       [ 40.69805, -73.92801,  30.     , ...,   0.     ,   0.     ,
          0.     ]])